<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleIconFile</key>
    <string/>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Peek needs local network access to connect to Home Assistant instances on your LAN.</string>
    <key>NSBonjourServices</key>
    <array>
      <string>_http._tcp</string>
      <string>_https._tcp</string>
      <string>_home-assistant._tcp</string>
    </array>
  </dict>
</plist>